<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    
    <script src=https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js></script>
</head>

<body>
    <h1>Login de Usuario</h1>
            <br>
            <form action="/login" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="nombre">Ingrese su nombre</label>
                    <input id="nombre" class="form-control" type="text" name="nombre" required>
                </div>
                <button class="btn btn-success mt-3">Enviar</button>
            </form>
</body>

</html>