<h1 style="color:blue;">Ingrese datos</h1>
<br>

<form action="/productos" method="post">

    <div>
        <label for="title"><b>Title</b></label>
        <input id="title" type="text" name="title">
    </div>

    <div>
        <label for="price"><b>Price</b></label>
        <input id="price" type="text" name="price">
    </div>

    <div>
        <label for="thumnail"><b>Thumnail</b></label>
        <input id="thumnail" type="text" name="thumnail">
    </div>

    <button>Enviar</button>
</form>